html {
    min-height: 100%;
}  

body {
    min-height: 100%;
    background: url("../img/coachella_wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding-top: 5px;
    position: relative;
}

#timer-wrap {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: crimson;
}

h3 {
    padding: 10px;
    color: rgb(6, 6, 6);
    background: rgba(164, 126, 158, 0.8);
    border-radius: 20px;
    font-family: 'Permanent Marker', cursive;

}

h2 {
    padding: 10px;
    color: rgb(6, 6, 6);
    background: rgba(164, 126, 158, 0.8);
    border-radius: 20px;
    font-family: 'Permanent Marker', cursive;
}

#start-game,
#reset {
    font-family: 'Permanent Marker', cursive;
}

.btn-group-vertical > button{
    margin-bottom:10px;
    border-radius:10px !important;
}

.btn {
    font-size: 30px;
}

#pics {
    height: 300px;
    width: 500px;
}





.footer {
    padding: 6px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: rgb(0, 0, 0);
    text-align: center;
    background: rgba(164, 126, 158, 0.8);
}

.footer,
.push {
    height: 40px;
}